*{
    margin:0;
    padding: 0;
}

.navigation{
    
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 75px; */
    /* background-color:wheat; */
}
.left{
    display: flex;
    align-items: center;

}
.left ul{
    display: flex;
    margin: 0 70px;
}
.left ul li{
    list-style: none;
}
.left ul a{
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    font-family: var(--font2);
}
.left ul a:hover{
    font-weight: bold;
    color: brown;
}
.container{
    display: flex;
    height: 100%;
    /* background-color: blue; */
    position: relative;
}
.container::after{
    content:"";
    background-image: url('../utils/typewriter.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 10px;

}
.content-left{   
    margin-top: 10px;
    padding: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
   width: 80vw;
    font-family: var(--font2);
    margin: 10px;
    z-index: 1 ;
}
.content-left p{
    margin-top: 15px;
   font-family: var(--font1);
}
.content-left h1{
    
    font-size: 40px;
   font-family: var(--font2);

}
.content-right{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50%;
}
.content-right img{
    height: 324px;
    border-radius: 20px;
    border: 1px solid black;
}

.left img{
    width: 60px;
    margin: 15px;
}
.form-input{
    padding: 3px 10px;
    border-radius: 5px;
    margin: -3px;
  
    font-family: var(--font1);
}
.btn:hover{
    background-color: crimson;
    color: wheat;
}
.home-articles{
    background-color: rgb(247, 210, 210,0.5);
    border-radius: 10px;
}
.home-articles h2{
    padding: 20px;
    display: flex;
}
.home-article{
    display: flex;
    padding: 7px 65px;
}
.home-article-content{
    align-self: center;
    margin: 35px;
}
.home-article-img img{
    width: 25vw;
    border: 1px solid black;
    border-radius: 15px;
}
.home-article-content a{
    text-decoration: none;
}
.footer{
    font-weight: bold;
    font-family: var(--font1);
    height: 50px;
    background-color:rgb(87, 80, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 100%;
}
